<div class="tooltip" [ngClass]="tooltipPlacement()">
  <div class="tooltip-content p-0 bg-transparent min-w-[20vw]">
    <app-series-card
      [series]="series()"
      [viewMode]="resolvedViewMode()"
      [readonly]="true"
    ></app-series-card>
  </div>
  <span
    class="badge cursor-default"
    [ngStyle]="{
      'background-color': series().backgroundColorHex,
      'border-color': series().backgroundColorHex,
      color: series().textColorHex,
      height: 'unset',
    }"
    >{{ series().name }}</span
  >
</div>
