@if (loadingVolumeTags() || loadingCollectedVolumes()) {
  <div class="flex flex-row justify-center">
    <span class="loading loading-spinner loading-xl"></span>
  </div>
}

<div class="flex flex-col h-full gap-4">
  @if (!loadingVolumeTags() && !loadingCollectedVolumes()) {
    @for (series of sortedSeries(); track series.id) {
      @let volumes = collectedVolumes().get(series);

      <div class="collapse collapse-arrow bg-base-100 border border-base-300 overflow-visible">
        <input type="checkbox" />
        <div class="collapse-title flex flex-row items-center gap-4">
          <div class="avatar avatar-placeholder">
            <div
              class="w-12 h-12 rounded-full"
              [ngStyle]="{
                'background-color': series.backgroundColorHex,
                color: series.textColorHex,
              }"
            >
              <span class="text-xl">{{ series.abbreviation }}</span>
            </div>
          </div>

          <div class="font-semibold text-lg">
            {{ series.name }}
          </div>

          <div class="grow flex flex-row justify-start items-center gap-4">
            @if (series.singleVolume) {
              <div class="badge bg-indigo-400">
                {{ 'common.series-properties.single-volume' | translate }}
              </div>
            }
            @if (series.completed) {
              <div class="badge bg-blue-300">
                {{ 'common.series-properties.completed' | translate }}
              </div>
            } @else if (orphanedSeriesIds().has(series.id)) {
              <div class="badge bg-orange-300">
                {{ 'common.series-properties.orphaned' | translate }}
              </div>
            }

            @for (seriesTag of series.seriesTags; track seriesTag.id) {
              <app-tag-badge [tag]="seriesTag"></app-tag-badge>
            }
          </div>

          <app-media-type-badge [mediaType]="series.mediaType"></app-media-type-badge>

          <div class="tooltip tooltip-bottom z-10">
            <button class="btn btn-md btn-neutral text-xl" (click)="onViewSeriesDetails(series)">
              <ng-icon name="heroMagnifyingGlassSolid"></ng-icon>
            </button>
            <span class="tooltip-content font-normal">
              {{ 'pages.volumes.collected.view-details-button-tooltip' | translate }}
            </span>
          </div>
        </div>
        <div class="collapse-content">
          <div class="pb-4">
            <app-volumes-table
              [volumes]="volumes ?? []"
              [volumeTags]="(volumeTags$ | async) ?? []"
              [defaultSortColumn]="SortableColumn.SEQUENCE_NUMBER"
              [defaultSortDirection]="SortDirection.ASC"
              [viewMode]="volumeViewMode"
              (volumeTagAdded)="onVolumeTagAdded($event)"
              (volumeTagRemoved)="onVolumeTagRemoved($event)"
              (volumeEdited)="onVolumeEdited($event)"
              (volumeDeleted)="onDeleteVolume($event)"
            ></app-volumes-table>
          </div>
        </div>
      </div>
    } @empty {
      <div class="flex flex-row justify-center">
        <p class="mx-auto mt-4 text-gray-400 italic">
          {{ 'pages.volumes.collected.no-volumes-message' | translate }}
        </p>
      </div>
    }
  }
</div>

<app-confirmation-prompt
  [open]="showDeleteVolumeConfirmation()"
  [loading]="deletingVolume()"
  [prompt]="'pages.volumes.collected.delete-volume-prompt' | translate"
  (confirmed)="confirmDelete()"
  (cancelled)="cancelDelete()"
></app-confirmation-prompt>

<app-modal-dialog
  [open]="showVolumeFormDialog() && volumeToUpdate() !== undefined"
  [loading]="savingVolume()"
  (closed)="onCancelledEditVolume()"
>
  <app-volume-form
    [volume]="volumeToUpdate()!"
    [allSeries]="allSeriesForAddingVolume()!"
    [allVolumeTags]="(volumeTags$ | async) ?? []"
    (saved)="onVolumeSaved($event)"
  ></app-volume-form>
</app-modal-dialog>
